@tailwind base;
@tailwind components;
@tailwind utilities;


.into {
  display: inline-block;
  border: 0.15em solid #d6d3d1;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  box-sizing: border-box;
  color: black;
  background-color: #ffb81e;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 1em 2.5em;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -webkit-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -moz-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -ms-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -o-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

  &:hover {
    color: black;
    background-color: #d6d3d1;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
  }
}

#video {
  min-width: 100vw;

  video {
    width: 100%;
    height: auto;
    margin-top: -35%;
  }
}

.download-btn {
  @apply bg-[#ffb81e] hover:bg-stone-300 hover:text-black fill-white hover:fill-black px-4 py-2 flex text-white items-center gap-2 rounded
}

#Nombre {
  @apply pt-8 sm:pt-2
}